@import '../../style.scss';
.containerLogin {
    min-height: 100vh;
    background: $primary;
    background: $gradient;
    .rowLogin {
      background-color: $white;
      box-shadow: 5px 5px 10px #000;
      border-bottom-left-radius: 350px;
      border-top-left-radius: 350px;
      height: 550px;
      .LoginTitle {
          height: 50px;
      }
      h2 {
        margin-top: 25px;
      }
      input {
        display: block;
        width: 100%;
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        line-height: 1.5;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-top: 0px;
        border-left: 0;
        border-right: 0;
        border-radius: -0.75rem;
        transition: border-color 0.15s ease-in-out;
      }
      .custompaddinLogin {
        padding: 10px 5.5em;
      }
      button {
        color: $white;
        background-color: $primary;
        border-radius: 3px;
        padding: 8px;
        width: 150px;
        border-radius: 50px;
        float: right;
        margin-right: 0px;
        box-shadow: 1px 1px 2px $black;
      }
    }
    .relative {
      position: relative;
      img {
        width: 150px;
      }
      p,
      h2 {
        margin-bottom: 10px;
        color: white;
        padding: 0px 30px;
        text-align: center;
      }
      button {
        color: $primary;
        background-color: $white;
        padding: 8px;
        width: 120px;
        border-radius: 50px;
        margin-right: auto;
        text-align: center;
        display: block;
        margin-left: auto;
        margin-top: 25px;
        box-shadow: 1px 1px 2px $black;
      }
      .row {
        padding-top: 80px;
      }
    }
  }
  
  .errorStyle {
    background-color: transparent;
    color: rgb(241, 69, 69);
    margin-right: auto;
    margin-left: auto;
    font-size: 9pt;
    text-align: left;
    position: absolute;
	right: 0;
    top: 54px;
  }
  
  // input text style
  
  .form__group {
    position: relative;
    padding: 15px 0 0;
    margin-top: 10px;
    width: 100%;
  }
  
  .form__field {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid $gray;
    outline: 0;
    font-size: 1rem;
    color: $black;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
  
    &::placeholder {
      color: transparent;
    }
  
    &:placeholder-shown ~ .form__label {
      font-size: 0.9rem;
      cursor: text;
      top: 0px;
    }
  }
  
  .form__label {
    position: absolute;
    top: 20px;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: rgb(102, 102, 102);
  }
  
  .form__field:focus {
    ~ .form__label {
      position: absolute;
      top: 0;
      display: block;
      transition: 0.2s;
      font-size: 1rem;
      color: $primary;
      font-weight: 1500;
    }
    padding-bottom: 7px;
    font-weight: 700;
    border-width: 2px;
  }
  /* reset input */
  .form__field {
    &:required,
    &:invalid {
      box-shadow: none;
    }
  }
  .forgetPassword {
      margin-right: auto;
      padding-top: 16px;
      color: $primary !important; 
      text-decoration: none;
  }
  // media query for 768px
  @media only screen and (max-width: 958px) {
    .form__group{
      margin-top: -15px;
    }
    .containerLogin .rowLogin .custompaddinLogin {
      padding: 0px 25px;
    }
    .containerLogin .rowLogin button {
      float: right;
      width: 125px;
    }
    .custompaddinLogin {
      width: 100%;
    }
    .rowLogin {
      border-bottom-left-radius: 0px !important;
      border-top-left-radius: 0px !important;
    }
  }