@import "../../style.scss";

#app {
    position: relative;
    .Table {

        overflow: hidden;
        direction: ltr;
        max-width: 100%;
        margin: 0px auto 10px auto;
        padding-top: 0px;

        


/* width */
::-webkit-scrollbar {
    width: 7px;
    height: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(0, 0, 0); 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgba(215, 22, 53, 0.36); 
    border-radius: 0px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(215, 22, 53, 0.56); 
  }

        .VueTables__limit {
            z-index: 2;
            width: 55px;
            height: 45px;
            padding: 0;
            padding-left: 10px;
            // border-top-left-radius: 10px;
        }

        .v-select__selections {
            input {
                background: transparent !important;
                border: 0px !important;
            }
        }
        .VueTables {
            max-width: 100%;
        }
        .v-data-table__wrapper {
            direction: rtl;
            max-height: 400px;
            overflow-y: scroll;
        }
        thead {
            box-shadow: 1px 1px 5px $black;
            tr th {
                text-align: right !important;
                direction: rtl;
                color: $white !important;
            
            }
            .checkbox { 
                display: flex;
                direction: ltr;
                #allSelected { 
                    margin-top: 0px;
                    margin-left: 3px;
                }
            }
        }
        .v-icon.v-icon {
            display: inline;
            float: left;
            color: $white;
            transform: scaleX(-1);
        }
        .v-input__icon i {
            color: $white !important;
        }
        table thead {
            background-color: $primary;
        }
        .VueTables__limit-field {
            display: flex;
            width: 60px;
            .v-input {
                border: none;
            }
        }
        .table-bordered th,
        .table-bordered td {
            border: 1px solid #00000038;
            white-space: nowrap;
            overflow: hidden;

        }
        .VueTables__heading {
            vertical-align: sub;
        }
        table {
            min-width: 2500px;
            width: auto;
            direction: ltr !important;
            thead tr th input {
                width: 100%;
                height: 20px;
                background-color: #ffffff;
                padding: 5px;
                border-radius: 3px;
                color: $black;
            }
            .v-input__slot {
                transform: scalex(-1);
            }
        }
    }

    .v-application--is-ltr .v-text-field .v-label {
        transform-origin: top left;
        right: 0 !important;
        left: unset !important;
        top: 0px;
    }
    .v-select__slot {
        padding-top: 10px;
    }

    .v-application .primary {
        background-color: $primary !important;
    }

    .SearchInTable {
        background-color: $primary;
        padding: 0px;
        padding-right: 10px;
        // border-top-right-radius: 10px;
        // border-top-left-radius: 10px;
        input {
            text-align: right;
            direction: rtl;
            background-color: #f2f2f2;
            padding: 10px;
            border-radius: 5px;
            border: 1px solid #00000038;
            width: 100%;
            font-size: 10pt;
            z-index: 99;
        }
        button { 
            width: 35px;
            height: 28px;
            z-index: 99;
            margin-left: auto;
            margin-right: -35px;
            background-color: $blue;
            padding: 0px ;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
            border: 1px solid rgba(0,0,0,0.21961);
            img{ 
                width: 17px;
                margin-top: 3px;
            }
        }
    }
    .table-striped tbody tr:nth-of-type(odd) {
        background-color: rgba(215, 22, 53, 0) !important;
    }
    .table-striped tbody tr:nth-of-type(even) {
        background-color: rgba(215, 22, 53, 0.06) !important;
    }
    .v-pagination {
        justify-content: flex-start !important;
    }
}
.subgroup { 
    width: 100%;
    text-align: right;
    transition: all 400ms;
    padding: 5px ;
    &:hover { 
        background:#e27973 !important;
        box-shadow: 1px 1px 5px #888;
        color : white ;
    }
}

.v-select {
    background: transparent;

    .v-select__selection--comma {
        color: $white !important;
        font-size: 10pt;
    }
    .theme--light.v-label {
        color: $white;
        right: -65px !important;
        top: 87%;
        position: absolute;
        z-index: 5;
    }
}
.theme--light.v-text-field > .v-input__control > .v-input__slot:before {
    border: none;
}
.v-text-field .v-label--active {
    max-width: 200% !important;
    direction: rtl;
}
.v-pagination {
    width: auto;
    li {
        width: 50px;
        height: 50px;
        button {
            border-radius: 50%;
            margin-left: 0px;
            margin-right: 0px;
        }
    }
}

.TableRefreshImg {
    padding-right: 0px;
    margin-top: 4px;
    img {
        width: 20px;
        z-index: 5;
    }
}
.TableDeleteImg { 
    margin-top: 4px; 
    margin-right: -5.5%;
    img { 
        width: 20px;
        z-index: 5;
    }
}
.TableRefreshImgAnimation {
    img {
        -webkit-animation: spin 1s linear infinite;
        -moz-animation: spin 1s linear infinite;
        animation: spin 1s linear infinite;
        filter: none;
    }
}

.TableBlur {
    filter: blur(2px);
}

.pleaseWait {
    position: fixed;
    width: 100%;
    top: 50%;
    color: $white;
    z-index: 10;
    text-align: center;
    background-color: #0c0c0c94;
    padding: 5px;
}

input[type="checkbox"] {
    width: 15px !important;
    box-shadow: none !important;
}
.v-data-table td,
th {
    height: 30px !important;
}

.v-data-table td,
.v-data-table th {
    padding: 0px 5px;
}

.VueTables__filters-row { 
    th { 
        padding: 2px 3px !important;
    }
}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}
@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}
@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.mdi-chevron-left {
    color: $primary !important;
}

.mdi-chevron-right {
    color: $primary !important;
}
